---
import "../styles/global.css";

import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Problem from "../components/Problem.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Plans from "../components/Plans.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<head>
  <meta charset="UTF-8" />
  <title>NexFlow Connect</title>
  <meta
    name="description"
    content="Mejoramos la presencia digital de alojamientos turísticos para generar más contactos y reservas directas."
  />
</head>

<main class="min-h-screen bg-[#F4F6FB] text-[#2C3E55]">
  <Navbar />
  <Hero />
  <Problem />
  <HowItWorks />
  <Plans />
  <Contact />
  <Footer />
</main>
